/* CUSTOM STYLES HERE */

.hidden {
    display: none;
}

/* HEADER STYLES */
.header-container {
    display: inline-block;
}



/* NAV STYLES */

.nav-container {
    float: right;
}

.nav-link {
    display: inline-block;
}

/* unvisited link */
a:link {
    color: grey;
}

/* visited link */
a:visited {
    color: grey;
}

/* mouse over link */
a:hover {
    color: black;
}

/* selected link */
a:active {
    color: black;
}



/* MAIN STYLES */

.main-container {
    margin-top: 50px;
}

.initial-grey-display {
    background-color:lightgray;
    color: black;
    text-align: center;
    float: right;
    width: 50%;
    height: 100vh;
}

/* .map-wrap {
    position: relative;
} */

.map {
    float: right;
    width: 50%;
    height: 100vh;
}

/* .more-info-card {
    position: absolute;
} */

li {
    list-style: none;
}

.truck-locator-element {
    border: 1px solid black;
}

.truck-locator-element:hover {
    cursor: pointer;
}

