/* CUSTOM STYLES HERE */

* {
    font-family: 'M PLUS Rounded 1c', sans-serif;
}

.hidden {
    display: none !important;
}



/* HEADER STYLES */
.header-container {
    display: inline-block;
}



/* NAV STYLES */

.nav-container {
    float: right;
}

.nav-link {
    display: inline-block;
}

/* unvisited link */
.nav-link:link {
    color: grey;
}

/* visited link */
.nav-link:visited {
    color: grey;
}

/* mouse over link */
.nav-link:hover {
    color: black;
}

/* selected link */
.nav-link:active {
    color: black;
}

.mobile-nav {
    background-color: #494949;
    padding: 10px 5px;
    /* position: fixed; */
}

.hamburger-icon {
    width: 8%;
    margin-left: 20px;
}

.rioseo-mobile-logo {
    margin-left: 110px;
}

.locator-icon-mobile {
    width: 8%;
    margin-left: 125px;
}



/* BUTTON STYLES */
button:hover {
    cursor: pointer;
}

.get-more-info {
    font-size: 12px;
    background-color: #494949;
    color: white;
    border-radius: 5px;
    padding: 5px 30px;
    width: 40%;
}

.close-card {
    color: grey;
    border: none;
    float: right;
}

.get-directions {
    font-size: 12px;
    background-color: #494949;
    color: white;
    border-radius: 5px;
    padding: 5px 30px;
    width: 40%;
}

.get-directions:hover {
    color: white;
    text-decoration: none;
}

.view-full-details {
    font-size: 12px;
    background-color: #494949;
    color: white;
    border-radius: 5px;
    padding: 5px 30px;
}

.view-full-details:hover {
    color: white;
    text-decoration: none;
}

.mobile-button {
    position: fixed;
    bottom: 0;
    width: 100%;
}

.show-list {
    width: 50%;
    padding: 10px 0;
    border: 1px solid lightgrey;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.15);
}

.show-map {
    width: 48%;
    padding: 10px 0; 
    border: 1px solid lightgrey;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.15);
}

.orange-background {
    background-color: orange;
    color: white;
}

.orange-font {
    background-color: white;
    color: orange;
}



/* MAIN STYLES */

.main-container {
    margin-top: 50px;
    display: flex;
    height: 100vh;
}



/* LIST STYLES */

.list-wrap {
    width: 50%;
    overflow-y: auto;
    height: 100%;
}

li {
    list-style: none;
    width: 90%;
    margin: 10px auto;
    padding: 20px 20px;
    border: 1px solid lightgrey;
    border-radius: 2px;
    box-shadow: 10px 1px 10px rgba(0, 0, 0, 0.15);
}

.list-header {
    overflow: hidden;
}

.list-truck-name {
    float: left;
}

.list-miles {
    float: right;
}

.list-truck-address {
    margin-bottom: 0;
}

.list-display-message {
    color: #1abb9c;
}

.list-phone {
    display: inline-block;
    color: orange;
}

.truck-locator-element:hover {
    cursor: pointer;
}



/* MAP STYLES */

.map-wrap {
    flex: 0 50%;
    float: right;
    width: 50%;
    height: 100%;
    position: relative;
}

.map {
    width: 100%;
    height: 100%;
}

.initial-grey-display {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:lightgray;
    color: black;
    text-align: center;
    width: 100%;
    height: 100vh;
}



/* MORE INFO STYLES */

.more-info-wrap {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.5);
    width: 100%;
    height: 100%;
}

.more-info-card {
    background-color: white;
    width: 90%;
    padding-bottom: 20px;
}

.truck-name {
    margin-left: 16px;
    margin-top: 30px;
}

.truck-address {
    margin-left: 16px;
}

.phone-icon {
    margin-left: 16px;
}

.truck-phone {
    color: orange;
}

.direction-icon {
    margin-left: 100px;
}

.truck-directions {
    color: orange;
    text-decoration: none;
}

.truck-directions:hover {
    color: black;
    text-decoration: none;
}

table {
    margin: 30px 0 30px 16px;
}

td + .schedule {
    padding-left: 50px;
}


/* MEDIA QUERIES */

@media only screen and (max-width: 480px) {
    .main-container {
        margin-top: 25px;
    }

    .truck-locator-list {
        padding: 0 0;
    }

    .list-wrap {
        width: 100%;
    }

    .list-truck-name {
        font-size: 18px;
    }

    .list-miles {
        font-size: 12px;
    }

    .get-more-info {
        padding: 5px 25px;
        width: 48%;
    }

    .get-directions {
        margin: 0 10px;
    }

    .map-wrap {
        flex: none;
        width: 100%;
    }

    .direction-icon {
        margin-left: 25px;
    }

    .view-full-details {
        margin: 0px 69px;
        padding: 9px 44px;
    }
}